@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@heroui/theme/styles.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif, 'Poppins';
}

input[type="number"] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

.banner {
  background-image: url("https://framerusercontent.com/images/ox1tg69dwg5TMb6flK8EvAlTY.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.backdrop_shaders {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #180f34 0%,
    rgba(0, 0, 0, 0) 100%
  );
  flex: none;
  inset: -273px 290px 51px -557px;
  overflow: hidden;
  position: absolute;
  top: 90px;
  z-index: -1;
}

.shake {
  animation: shake 0.5s ease-in-out;
}